<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :author_id %>
    <%= form.text_field :author_id %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_area :image %>
  </div>

  <div class="field">
    <%= form.label :cook_time %>
    <%= form.text_area :cook_time %>
  </div>

  <div class="field">
    <%= form.label :geography %>
    <%= form.text_area :geography %>
  </div>

  <div class="field">
    <%= form.label :main_ingredient %>
    <%= form.text_area :main_ingredient %>
  </div>

  <div class="field">
    <%= form.label :dish_type %>
    <%= form.text_area :dish_type %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_area :link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
