<p id="notice"><%= notice %></p>

<h1>Recipes</h1>
<p>Total number of recipes <%= @recipes.total_entries %><br>
   Recipes per page <%= @recipes.length %></p>

<%= form_tag recipes_path, :method => 'get', :id => "recipes_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="recipes">
    <%= render "recipes" %>
  </div>

<% end %>



<%#= link_to 'New Recipe', new_recipe_path %>
